<div id="<%= dom_id chef %>">
  <p>
    <strong>User:</strong>
    <%= chef.user_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= chef.address_id %>
  </p>

  <p>
    <strong>Approver:</strong>
    <%= chef.approver_id %>
  </p>

</div>
